* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1c1d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
}

.aside-1,
.aside-2,
section {
    width: calc(67% / 3);
    height: 95vh;
}

section {
    flex-grow: 2;
}

.sec-1,
.sec-2,
.sec-3 {
    width: calc(90% / 3);
}