nav {
    width: 100%;
    height: 50px;
    background-color: #252728;
    border: 1px solid rgba(128, 128, 128, 0.217);
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav-sections {
    height: 100%;
    display: flex;
}

.sec-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.sec-1>img {
    margin-left: 20px;
}

.input-box {
    width: 240px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #333334;
    border-radius: 20px;
    cursor: text;
}

.input-box input {
    background-color: #333334;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 15px;
    color: white;
}

.sec-1 .input-box input::placeholder {
    color: #b0b3b8;
}

.search-icon {
    display: flex;
    width: 22px;
}

.search-icon img {
    width: 100%;
}

.sec-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    padding: 3px;
}

.sec-2 .home,
.sec-2 .video,
.sec-2 .marketplace,
.sec-2 .groups {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: calc(90% / 4);
    border-radius: 10px;
    position: relative;
}

.sec-2 div:hover:not(.home) {
    background-color: #3b3d3e;
}



.home::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #0866ff;
    bottom: -3px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.sec-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.sec-3 .menu,
.sec-3 .messenger,
.sec-3 .notifications,
.sec-3 .account {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f5151;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
}

.sec-3 div:hover {
    background-color: #646565;
}

.sec-3 .account {
    margin-right: 10px;
}

.sec-3 .account::before {
    content: "";
    position: absolute;
    background-color: #3b3d3e;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-image: url("../assets/images/down-arrow.png");
    right: 0;
    bottom: 0;
}

.sec-3 .account img {
    border-radius: 50%;
}

.tooltip {
    position: relative;
}

.tooltip::after {
    content: attr(data-title);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: -90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d3d4d4;
    color: #2b2b2b;
    padding: 7px 12px;
    border-radius: 10px;
    white-space: nowrap;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: .2s;

}

.tooltip:hover::after {
    opacity: 1;
}