/* Mobile */

@media (max-width: 767px) {
    section {
        width: 100%;
    }

    .sec-1,
    .sec-3 {
        display: none;
    }

    .sec-2 .menu-more {
        display: flex;
    }
}

/* Small Screens */

@media (min-width: 768px) and (max-width: 991px) {
    .input-box {
        width: 58%;
    }
}

/* Medium Screens */

@media (min-width: 992px) {}

/* Large Screens */

@media (min-width: 1200px) {}

/* Custom */

@media (max-width: 1199px) {}