/* Mobile */

@media (min-width: 320px) and (max-width: 420px) {
    .actions div p {
        display: none;
    }
}


@media (max-width: 767px) {
    .posts-container {
        width: 100%;
        gap: 10px;
    }

    .post {
        width: 100%;
    }

    section {
        gap: 10px;
    }

    .reach p {
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        width: 120px
    }

}

/* Small Screens */

@media (min-width: 768px) and (max-width: 900px) {
    .actions div p {
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 991px) {

    .posts-container {
        width: 50%;
    }

    .post {
        width: 100%;
    }


}

/* Medium Screens */

@media (min-width: 992px) {}

/* Large Screens */

@media (min-width: 1200px) {}

/* Custom */

@media (max-width: 1199px) {}